<!---
<!DOCTYPE html>
<html>

<head>


	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
	</script>
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
	</script>
	<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
	</script>
</head>

<body>
    <a>
        testtt
    </a>

</body>

</html>



-->

<!---import { Resource, CSE_Connection, AE, ACP, ACR, FlexContainer, PollingChannel, Subscription } from "./onem2m.js";-->





<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>





<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet" type="text/css" />

<script src="//code.jquery.com/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    




<body>
	<!-- Creating a navigation bar using the
		.navbar class of bootstrap -->
	<nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
				<a class="nav-link" href="{% url 'home' %}">
				Home
				</a>
			</li>
        </ul>



		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'status' %}">
				Status
				</a>
			</li>
      <ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'garage' %}">
					Garage Door
					</a>
				</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'upload' %}">
				Upload
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">
				Logout
				</a>
			</li>
		</ul>
	</nav>
</body>



  



  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Status Page</h1>
        </div>
      </div>
     
            

              <div class="row clearfix">
                  <div class="col-md-12 column">
                      <div class="list-group">
                        
                          <div class="list-group-item">
                              <h4 class="list-group-item-heading">
                                  Website and API 
                                  
                                  <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access website and use site API">

                                  




                                   
                                  </a>
                              </h4>
                              <p class="list-group-item-text">
                                <span class="label label-success">Operational</span>
                              </p>
                          </div>
                        
                          <div class="list-group-item">
                              <h4 class="list-group-item-heading">
                                  Raspberry PI 
                                  <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access site using SSH terminal">
                                  
                                  </a>
                              </h4>
                              <p class="list-group-item-text"> 
                                  <span class="label label-danger">Not Operational</span>
                              </p>
                          </div>
                        
                          <div class="list-group-item">
                              <h4 class="list-group-item-heading">
                                  Thingy:91 
                                  <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access database server and execute queries">
                                  
                                  </a>
                              </h4>
                            {% if cont == 0 %}
                            <p class="list-group-item-text">
                                <span class="label label-danger">Not Operational</span>
                              </p>
                            {% else %}
                            <p class="list-group-item-text">
                                <span class="label label-success">Operational</span>
                              </p>
                            {% endif %}
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  

